<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="edu.kit.ipd.sdq.pcm.bppcm.datamodel.design.Activator"
               id="edu.kit.ipd.sdq.pcm.bppcm.datamodel.design"
	       name="datamodel">
    </component>
  </extension>
</plugin>
